# In case anyone uses npm install by accident
package-lock.json

node_modules
dist
build
.env

# Firebase
.firebaserc
.firebase/
src/config/firebase-config.ts
src/backend/credentials/serviceAccountKey.json

#backend
server.version
yarn-error.log
logs/
