# In case anyone uses npm install by accident
package-lock.json

.vscode
.env
.DS_Store
build
dist
node_modules

# Firebase
.firebaserc
.firebase/
src/config/firebase-config.ts
src/backend/credentials/serviceAccountKey.json

# Backend
server.version
yarn-error.log
logs/

# Tauri
src-tauri/target/
src-tauri/WixTools

# Rollup Visualizer
stats.html
