@font-face {
  font-family: "Cascadia Mono";
  src: url("/fonts/CascadiaMono.ttf");
}

.timer-stopwatch {
  font-family: Cascadia Mono;
  font-size: 7.5rem;
  text-align: center;
  letter-spacing: 0.1rem;

  &.unready {
    color: black;
  }

  &.almost-ready {
    color: red;
  }

  &.ready {
    color: green;
  }

  &.running {
    color: blue;
  }
}
