.settings-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  .settings-page-header {
    font-size: 3rem;
    font-weight: bold;
  }

  .groups {
    .settings-group {
      display: flex;
      flex-direction: column;

      .settings-group-header {
        font-size: 2rem;
        font-weight: bold;
      }

      .settings-group-content {
        .section {
          display: grid;
          grid-template-areas:
            "title"
            "description options";
          grid-template-columns: 2fr 1fr;
          column-gap: 2rem;

          .section-text {
            .section-header {
              font-size: 1.25rem;
              font-weight: bold;
            }

            .section-description {
              font-size: 1rem;
            }
          }

          .section-options {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .section-select,
            .section-input,
            .section-buttons {
              text-align: center;
              width: 100%;
              height: fit-content;
            }
          }
        }
      }
    }
  }
}
