/** @format */

.timer-page {
  display: grid;
  grid-template-columns: 1.5fr 5fr 1.5fr;

  #results {
    padding: 5px;
    height: 90vh;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: lightgray;
    overflow-y: scroll;
    overflow-x: auto;

    h1 {
      text-align: center;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    button {
      margin-top: 5px;
      margin-bottom: 5px;
      background-color: white;
      border-color: black;
      border-style: solid;
      border-width: thin;
      border-radius: 5px;
    }

    tr {
      border-width: 1px;
      border-style: solid;
      border-color: black;
      align-items: center;

      td {
        border-width: thin;
        border-style: solid;
        background-color: white;
        padding: 5px;
      }
    }
  }

  #timer {
    height: 90vh;

    input {
      position: absolute;
      top: 50vh;
      height: 5rem;
      width: 50vw;
      left: 25vw;
      font-size: 5rem;
      text-align: center;
      border-width: thin;
      border-style: solid;
      border-color: black;
      border-radius: 5px;
    }
  }
}
