/** @format */

$remaining_height: 86.75vh;

.timer-page {
  display: grid;
  grid-template-columns: 1.5fr 5fr 1.5fr;

  #results {
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-color: lightgray;
    overflow-x: auto;
    overflow-y: auto;
    width: fit-content;
    max-width: 25vw;
    height: fit-content;
    max-height: $remaining_height;

    h1 {
      text-align: center;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    table {
      thead,
      tbody {
        tr {
          align-items: center;

          td {
            border-width: thin;
            border-style: solid;
            border-color: black;
            background-color: white;
            padding: 5px;
          }
        }
      }
    }
  }

  #timer {
    height: $remaining_height;

    input {
      position: absolute;
      top: 50vh;
      height: 5rem;
      width: 50vw;
      left: 25vw;
      font-size: 5rem;
      text-align: center;
      border-width: thick;
      border-style: solid;
      border-color: black;
      border-radius: 5rem;
      background-color: lightgray;
    }
  }
}
