.button {
  margin-top: 5px;
  margin-bottom: 5px;
  border-color: black;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  text-align: center;
  font-size: 1.5rem;

  &.light {
    background-color: white;

    &:hover {
      background-color: lightgray;
    }
  }

  &.dark {
    background-color: lightgray;

    &:hover {
      background-color: white;
    }
  }
}
