/** @format */

$text-color: #fafafa;

.top {
  display: grid;
  grid-template-columns: 1fr 1fr 5fr 1fr;
  grid-gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  place-items: center;
  height: 10vh;
  background-color: black;
  color: $text-color;

  .logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;

    .icon {
      place-self: center;
      border-radius: 10px;
      background-color: white;
      color: black;
      font-size: 1.5rem;
      height: fit-content;
    }

    .title {
      font-size: 1.5rem;

      h1 {
        margin: unset;
      }

      .title-link {
        color: $text-color;
        text-decoration: none;
      }
    }
  }

  .nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .nav-item {
      padding-left: 1rem;
      padding-right: 1rem;
      color: $text-color;
      text-decoration: none;
    }
  }
}
